@import '~bulma/bulma';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #3F3F3F;
}
:root {
    --main-color-one: #1ACEDF;
}

// header start
header{
    padding: 15px 0px;
    .columns{
        align-items: center;
        .custome-nav{
            padding-top: 0px;
        }
    }
    .logo{
        &__content{
            display: block;
        }
    }
    div#navbarBasicExample{
        .navbar-end{
            .navbar-item{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #000;
                transition: all 0.3s;
                position: relative;
                margin: 0px 7px;
                &::before{  
                    content: "";
                    background: #1ACEDF;
                    border-radius: 3px;
                    width: 0%;
                    position: absolute;
                    bottom: -8px;
                    height: 7px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.3s;
                }
                &:hover{
                    color: var(--main-color-one  );
                    background: none;
                }
                &:hover::before{
                    width: 92%;;
                }
            }
        }
    }
    .btn__sign{
        background-color: var(--main-color-one  );
        border-color:var(--main-color-one  );
        color: #fff;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        padding-left: 29px;
        padding-right: 29px;
        transition: all 0.3s;
        &:hover{
            opacity: 0.8;
            color: #fff;
            border-color:var(--main-color-one  );
        }
    }
}


// HeroBanner start

.herobanner{
   background: url('../asset/img/hero_bg.png'); 
   background-size: cover;
   background-position: bottom center;
   background-repeat: no-repeat;
   padding: 80px 0px 100px 0px;
   position: relative;
   
   .bulb-img{
        position: absolute;
        top: 40px;
        left: -60px;
   }
   .heart-img{
        position: absolute;
        bottom: 40px;
        left: -90px;
   }

   .banner-content{
     h2{
        font-weight: bold;
        font-size: 46px;
        line-height: 1.6;
        color: #fff;
     }
     .hero-text{
        font-size: 27px;
        color: #FFFFFF;
        font-style: italic;
        line-height: 1.6;
        font-weight: 600;
     }
     .quench-input{
        padding: 60px 0px 30px 0px;
         input{
            border: 4px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            background: transparent;
            padding: 0px 60px 0px 20px;
            height: 75px;
            color: #000;
            color: #fff;
            font-weight: bold;
            font-size: 22px;
            width: 299px;
            &::placeholder{
                color: #fff;
                font-weight: bold;
                font-size: 22px;
                font-family: 'Montserrat', sans-serif;
            }
            &:focus{
                outline: none;
            }
         }
         button{
            height: 75px;
            letter-spacing: 1px;
            background: #2565AE;
            box-shadow: 1px 1px 15px rgba(140, 140, 140, 0.25);
            border-radius: 5px;
            font-weight: bold;
            font-size: 30px;
            line-height: 1.3;
            color: #fff;
            border: 0;
            padding: 0px 53px;
            display: block;
            margin-left: -60px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background-color: #3f7bbf;
            }
         }
     }
   }
}

// common section title
.section-title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;

    &__text {
        display: inline-block;
        color: var(--main-color-one);
        font-size: 36px;
        font-weight: bold;       
    }  

    &__dot {
        height: 18px;
        display: inline-block;
        border-radius: 50%;
        width: 18px;
        margin-right: 15px;
        background-color: var(--main-color-one);        
    }

    &__line {
        height: 8px;
        width: 100px;
        display: inline-block;
        border-radius: 4px;
        margin-top: 3px;
        margin-left: 15px;
        background-color: var(--main-color-one);
    }

    @media screen and (max-width: 769px) {
        &__text {
            font-size: 1rem;
        }

        &__dot {
            height: 12px;
            width: 12px;
        }
    
        &__line {
            height: 6px;
            width: 50px;
            border-radius: 3px;
        }
    }
}

.section-subtitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: center;
    @media screen and (max-width: 768px) {       
        font-size: 14px;
   }
}

.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }
}

.btn {
    border-radius: 6px;
    font-weight: 600;
    font-size: 19px;
    box-sizing: border-box;
    display: inline-flex;
    padding: 0 20px;
    justify-content: center;
    line-height: 3;
    align-items: center;
    min-width: 180px;
    transition: 0.3s;
    text-align: center;
    &-outline {
        border: 2px solid var(--main-color-one);
        color: var(--main-color-one);

        &:hover {
            background-color: var(--main-color-one);
        }
    }
    &-primary {
        color: #FFF;
        background-color: var(--main-color-one);
        border-radius: 3px;
        padding: 0 40px;
        &:hover{
            color: #fff;
            box-shadow: 0 20px 38px rgba(37,101,174,.16)!important;
            -ms-transform: translateY(-3px);
            transform: translateY(-3px);
            -webkit-transform: translateY(-3px);
        }
    }
    &-secondary {
        background-color: #2565AE;
        color: #fff;
        border-radius: 3px;
        padding: 0 40px;
        &:hover{
            color: #fff;
            box-shadow: 0 20px 38px rgba(37,101,174,.16)!important;
            -ms-transform: translateY(-3px);
            transform: translateY(-3px);
            -webkit-transform: translateY(-3px);
        }
    }
}

// Water access flyway
.water__item {
    border-radius: 20px;
    box-shadow:0 0 15px -3px rgba(#000000 ,0.2);

    .img-container {
        filter: drop-shadow(0 0 10px rgba($color: #000000, $alpha: 0.2)) ;
    }

    .img-container * {
        width: 100%;
    }

    img {
        border-radius: 20px;
        overflow: hidden;
        width: 100% !important;
        object-fit: cover;
        
    }

    .title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .description {
        font-size: 18px;
        line-height: 37px;
        margin-bottom: 15px;
    }

    .item-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 15px;
        .btn{
            line-height: 23px;
            padding: 10px !important;
        }
    }
}
.corporation-btn{
    justify-content: flex-end;
    .ml-4{
        padding-top: 8px;
    }
}
.more-Corporation{
    .ml-4{
        padding-top: 8px;
    }
}

// about start
.about{
    padding-bottom: 35px;
    padding-top: 40px;
    .section-title{
        justify-content: flex-start;
    }
    .about-text-box{
        .about-img-set{
            width: 40px;
        }
        p{
            font-weight: 500;
            font-size: 20px;
            line-height: 37px;
            width: 93%;
            padding-left: 25px;
        }
    }
    .btn.btn-secondary{
        margin-left: 65px;
        .ml-4{
            padding-top: 8px;
        }
    }
}

// Start footer
.footer{
    background: var(--main-color-one);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 125px 0px 30px;
    .columns{
        justify-content: space-between;
        .footer-column-first{
            width: 34.333333%;
            a{
                display: inline-block;
            }
            p{
                font-weight: 600;
                line-height: 31px;
            }
        }
        .footer-column-two{
            margin-left: 50px;
            display: flex;
            width: 31%;
            .footer-menu-sec{
                li{
                    width: 100%; 
                    display: inline-block;
                }
                h4{
                    font-size: 22px;
                    line-height: 40px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                a{
                    color: #FFFFFF;
                    line-height: 46px;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                
            }
        }
        .footer-column-three{
            max-width: 475px;
            ul{
                background-color: rgba(255,255,255,0.1);
                padding: 30px;
                border-radius: 10px;
                li{
                    margin-bottom: 20px;
                    a{
                        display: flex;
                        align-items: center;
                        transition: all 0.3s;
                        .contact-details{
                            color: #fff;
                            max-width: 70%;
                            margin-left: 19px;
                            line-height: 27px;
                        }
                        .contact-details-icon{
                            width: 54px;
                            height: 54px;
                            background: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px !important;
                            border-radius: 50%;
                        }
                        .contact-details-icon{
                            max-width: 30%;
                        }
                    }
                }
                li:last-child{
                    margin-bottom: 0px;
                    a{
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .copyright{
        border-top: 1px solid #fff;
        padding-top: 25px;
        margin-top: 40px;
        .is-12{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .social-icon{
                display: flex;
                li{
                    margin-left: 30px;
                }
            }
        }
    }
}


@media screen and (min-width:1600px){
    .container{
        max-width: 1520px !important;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:769px){
       // header start
       header{
        .columns{
            margin-left: 0;
            margin-right: 0;
            .custome-nav{
                padding-top: 0;
                .navbar{
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    align-items: center;
                    position: initial;
                    .navbar-menu{
                        top: 72px;
                        width: 97%;
                        background-color: #fff;
                        box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
                        padding: .5rem 0;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        position: absolute;
                        z-index: 99;
                        a.navbar-item{
                            padding-left: 25px !important;
                            font-size: 16px !important;
                        }
                    }
                    .navbar-brand{
                        order: 2;
                        min-height: auto;
                        .navbar-burger{
                            border: 0.969697px solid #1ACEDF;
                            border-radius: 2.90909px;
                            height: 32px;
                            width: 32px;
                            span{
                                background: var(--main-color-one  );
                                height: 2px;
                            }
                        }
                    }
                    .navbar-end{
                        order: 1;
                        .buttons{
                            .btn__sign{
                                padding: 18px 14px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    // HeroBanner start
    .herobanner{
        padding: 10px 0px 49px 0px;
        .bulb-img{
            top: 19%;
            left: -17px;
            img{
                width: 39px;
            }
        }
       .heart-img {
            width: 39px;
            top: 44%;
            left: -10px;
            img{
                width: 50px;
            }
        }
        .columns{
            margin: 0;
        }
        .banner-content {
            h2{
                font-size: 20px;
            }
            .quench-input {
                padding: 21px 0px 21px 0px;
                input{
                    width: 166px;
                    border: 2px solid #FFFFFF;
                    height: 41px;
                    font-size: 12px;
                    padding: 0px 41px 0px 16px;
                    &::placeholder{
                        font-size: 12px;
                    }
                }
                button{
                    padding: 0px 16px;
                    font-size: 16px;
                    height: 41px;
                    margin-left: -34px;
                }
            }
            .hero-text{
                font-size: 14px;
            }
        }
    }

    .waterAccess .column ,
    .waterAccess .columns {
        margin: 0;
    }
    
    .btn {
        min-width: 140px;
        font-size: 16px ;
    }
    
    .link-your-corporation-btn {
        text-align: center;        
    }

    // about start
    .about {
        padding-bottom: 0;
        .section-title{
            justify-content: center;
        }
        .about-text-box {
            margin-top: 20px !important;
            p{
                font-size: 12px;
                line-height: 24px;
            }
            .about-img-set{
                width: 20px;
            }
        }
        .btn.btn-secondary{
            display: none;
        }
        .column,
        .columns{
            margin: 0;
        }
        .abuot-img{
            text-align: center;
            padding: 35px 0px 0px 0px;
            img{
                width: 450px;
            }
        }
        .about-order-1{
            order: 2;
        }
        .about-order-2{
            order: 1;
        }
    }
    // waterAccess start
    section.waterAccess{
        .columns,
        .column{
            margin: 0;
        
        }
        .blank-set{
            display: none;
        }
        .item-footer{
            a.btn.btn-outline,
            a.btn.btn-primary{
                min-width: 125px;
                padding: 0 13px;
                font-size: 14px;
                height: 38px;
            }
        }
        .btn-secondary,
        .btn-primary{
            padding: 0 20px;
            font-size: 16px;
            height: 54px; 
            span{
                display:none;
            }
        }
        .water__item {
            .title{
                font-size: 15px;
            }
            .description{
                font-size: 14px;
                line-height: 26px;
            }
        }
        .corporation-btn {
            position: absolute;
            top: 120px;
        }
        .waterAccess-title {
            padding-bottom: 43px;
            margin-top: 30px !important;
        }
    }
    
}
@media (min-width:1216px) and (max-width:1407px){
    // header start
    header{
        div#navbarBasicExample{
            .navbar-end{
                .navbar-item{
                    font-size: 18px;
                }
            }
        }
    }
    // HeroBanner start
    .herobanner {
        .banner-content {
            .quench-input {
                button{
                    font-size: 27px;
                }
            }
        }
    }

    // Water access flyway
    .water-access-container{
        .item-footer{
            a.btn.btn-outline,
            a.btn.btn-primary{
                min-width: 150px;
            }
        }
    }

}
@media (min-width:1024px) and (max-width:1215px){
    // header start
    header{
        div#navbarBasicExample{
            .navbar-end{
                .navbar-item{
                    font-size: 16px;
                    padding: 12px 5px;
                }
            }
            .btn__sign{
                font-size: 16px;
            }
        }
    }

    // HeroBanner start
    .herobanner {
        .banner-content {
            h2{
                font-size: 35px;
            }
            .quench-input {
                input{
                    width: 259px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                button{
                    padding: 0px 22px;
                    font-size: 21px;
                }
            }
            .hero-text{
                font-size: 22px;
            }
        }
    }

   // Water access flyway
   .water-access-container{
        .item-footer{
            a.btn.btn-outline,
            a.btn.btn-primary{
                min-width: 118px;
                padding: 0 13px;
            }
        }
    }
    section.waterAccess{
        .btn-secondary,
        .btn-primary{
            padding: 0 20px;
            font-size: 16px;
        }
    }
}
@media (min-width:356px) and (max-width:769px){
    // Water access flyway
    section.waterAccess {
        .corporation-btn{
            top: 84px;
        }
    }
}
@media (min-width:770px) and (max-width:1023px){
    // header start
    header{
        .columns{
            margin: 0;
            .custome-nav{
                .navbar{
                    position:initial;
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    align-items: center;
                    .navbar-menu{
                        top: 76px;
                        width: 97%;
                        background-color: #fff;
                        box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
                        padding: .5rem 0;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        position: absolute;
                        z-index: 99;
                        a.navbar-item{
                            padding-left: 25px !important;
                            font-size: 18px !important;
                        }
                    }
                    .navbar-brand{
                        order: 2;
                        min-height: auto;
                        .navbar-burger{
                            border: 0.969697px solid #1ACEDF;
                            border-radius: 2.90909px;
                            height: 42px;
                            width: 42px;
                            span{
                                background: var(--main-color-one  );
                                left: calc(50% - 10px);
                                height: 2px;
                                &:nth-child(2){
                                    top: calc(50% - 0px)
                                }
                                &:nth-child(3){
                                    top: calc(50% - -6px)
                                }
                            }
                        }
                    }
                    .navbar-end{
                        order: 1;
                    }
                }
            }
        }
    }

    // HeroBanner start
    .herobanner{
        .heart-img{
            bottom: 40%;
            left: -10px;
            img{
                width: 100px;
            }
        }
        .bulb-img{
            top: 197px;
            left: -10px;
            img{
                width: 60px;
            }
        }
        .columns{
            margin: 0;
        }
        .banner-content {
            h2{
                font-size: 35px;
            }
            .quench-input {
                input{
                    width: 259px;
                    &::placeholder{
                        font-size: 18px;
                    }
                }
                button{
                    padding: 0px 22px;
                    font-size: 21px;
                }
            }
            .hero-text{
                font-size: 22px;
            }
        }
        .banner-img{
            .hero-img{
                text-align: center;
                img{
                    width: 580px;
                }
            }
        }
    }

    // HeroBanner start
    section.about{
        padding-bottom: 0;
        .column,
        .columns{
            margin: 0;
        }
        .abuot-img{
            text-align: center;
            padding: 35px 0px;
            img{
                width: 450px;
            }
        }
        .about-order-1{
            order: 2;
        }
        .about-order-2{
            order: 1;
        }
    }

    // waterAccess start
    section.waterAccess{
        .columns,
        .column{
            margin: 0;
        }
        .item-footer{
            a.btn.btn-outline,
            a.btn.btn-primary{
                min-width: 150px;
                padding: 0 13px;
            }
        }
        .btn-secondary,
        .btn-primary{
            padding: 0 20px;
            font-size: 16px;
        }
    }
}



// Start footer
.footer{
    background: var(--main-color-one);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 125px 0px 30px;
    .columns{
        justify-content: space-between;
        .footer-column-first{
            width: 34.333333%;
            a{
                display: inline-block;
            }
            p{
                font-weight: 600;
                line-height: 31px;
            }
        }
        .footer-column-two{
            margin-left: 50px;
            display: flex;
            width: 31%;
            .footer-menu-sec{
                li{
                    width: 100%; 
                    display: inline-block;
                }
                h4{
                    font-size: 22px;
                    line-height: 40px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                a{
                    color: #FFFFFF;
                    line-height: 46px;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                
            }
        }
        .footer-column-three{
            max-width: 475px;
            ul{
                background-color: rgba(255,255,255,0.1);
                padding: 30px;
                border-radius: 10px;
                li{
                    margin-bottom: 20px;
                    a{
                        display: flex;
                        align-items: center;
                        transition: all 0.3s;
                        .contact-details{
                            color: #fff;
                            max-width: 70%;
                            margin-left: 19px;
                            line-height: 27px;
                        }
                        .contact-details-icon{
                            width: 54px;
                            height: 54px;
                            background: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px !important;
                            border-radius: 50%;
                        }
                        .contact-details-icon{
                            max-width: 30%;
                        }
                    }
                }
                li:last-child{
                    margin-bottom: 0px;
                    a{
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .copyright{
        border-top: 1px solid #fff;
        padding-top: 25px;
        margin-top: 40px;
        .is-12{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .social-icon{
                display: flex;
                li{
                    margin-left: 30px;
                }
            }
        }
    }
}



//media
@media screen and (max-width:770px){
    .water-access-container{
        margin-top: 30px;
    }
    .footer{
        .columns{
            margin-left: 0;
            margin-right: 0;
            .footer-column-first{
                width: 100%;
                p{
                    font-size: 15px;
                    line-height: 29px;
                    padding-bottom: 15px;
                }
                a{
                    max-width: 190px;
                }
            }
            .footer-column-two{
                margin-left: 0;
                width: 100%;
                .footer-menu-sec{
                    h4{
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
            .footer-column-three{
                width: 100%;
                ul{
                    padding: 23px;
                    li{
                        a{
                            .contact-details-icon{
                                width: 41px;
                                height: 41px;
                            }   
                            .contact-details{
                                font-size: 14px;
                                margin-left: 14px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
        .copyright{
            margin-top: 30px;
            padding-left: 15px;
            padding-right: 15px;
            .is-12{
                flex-wrap: wrap;
                font-size: 14px;
                line-height: 23px;
                text-align: center;
                justify-items: center;
                align-items: center;
                .social-icon{
                    margin: 10px auto 0;
                    li{
                        margin: 0 7px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:568px) and (max-width:770px){
    .footer{
        .copyright{
            .is-12{
                .social-icon{
                    margin-right: 0;
                }
            }
        }
        .columns{
            .footer-column-three{
                margin: 0 auto;
            }
        }
    }
}
@media (min-width:771px) and (max-width:1023px){
    .footer{
        font-size: 17px;
        .columns{
            margin-left: 0;
            margin-right: 0;
            .footer-column-first{
                width: 45.333333%;
            }
            .footer-column-two{
                width: 52%;
                margin-left: 0;
                .footer-menu-sec{
                    h4{
                        font-size: 20px;
                    }
                }
            }
            .footer-column-three{
                width: 100%;
                margin: 0 auto;
                ul{
                    li{
                        a{
                            .contact-details-icon{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
        .copyright{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
@media (min-width:1024px) and (max-width:1215px){
    .herobanner{
        .bulb-img{
            max-width: 150px;
        }
        .heart-img{
            bottom: 40px;
            left: -90px;
            max-width: 190px;
        }
    }
    .footer{
        font-size: 17px;
        .columns{
            .footer-column-first{
                width: 26.333333%;
                a{
                    max-width: 180px;
                }
            }
            .footer-column-two{
                width: 39.333333%;
                margin-left: 0px;
                .footer-menu-sec{
                    h4{
                        font-size: 20px;
                    }
                }
            }
            .footer-column-three{
                width: 33.333333%;
                ul{
                    padding: 20px;
                    li{
                        a{
                            .contact-details-icon{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1216px) and (max-width:1599px){
    .herobanner{
        .bulb-img{
            top: 20px;
            left: -60px;
            max-width: 170px;
        }
    }
    .herobanner{
        .heart-img{
            left: -70px;
            max-width: 170px;
        }
    }
    .footer{
        .columns{
            .footer-column-first{
                width: 30.333333%;
                a{
                    max-width: 240px;
                }
            }
            .footer-column-two{
                width: 34%;
                margin-left: 0;
            }
            .footer-column-three{
                ul{
                    li{
                        a{
                            .contact-details-icon{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1600px) and (max-width:1699px){
    .herobanner {
        .heart-img{
            left: -70px;
            max-width: 200px;
        }
    }
}
@media screen and (max-width:374px){
    .footer{
        .columns{
            .footer-column-two{
                .footer-menu-sec{
                    h4{
                        font-size: 17px;
                        margin-bottom: 10px;
                    }
                    a{
                        line-height: 37px;
                        font-size: 16px;
                    }
                }
            }
        }
        #subscribe-form .submit{
            font-size: 15px;
            line-height: 16px;
            padding: 10px 14px;
        }
    }
}
// End footer
//Subscribe Our News Letter start

//Subscribe Our News Letter end
.subscribe-our-sec{
    margin-top: 100px;
    .columns{
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgb(91 91 91 / 25%);
        border-radius: 15px;
        padding: 34px 35px;
        box-sizing: border-box;
        align-items: center;
        margin-bottom: -80px;
    }
    .inner-subscribe{
        display: flex;
        align-items: center;
        .subscribe-details{
            margin-left: 33px;
            h2{
                font-size: 30px;
                line-height: 37px;
                font-weight: 700;
            }
            h5{
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                margin-top: 10px;
            }
        }
    }
    #subscribe-form{
        max-width: 600px;
        margin-left: auto;
        position: relative;
        .submit{
            background: var(--main-color-one);
            border-radius: 5px;
            border: none;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 27px;
            height: 60px;
            position: absolute;
            right: 0;
            cursor: pointer;
            border-radius: 4.6px;
            transition: all 0.3s;
            &:hover{
                opacity: 0.8;
            }
        }
        #email{
            padding: 17px 149px 17px 19px;
            border: 1px solid #AAAAAA;
            font-size: 16px;
            line-height: 20px;
            color: #383838;
            width: 100%;
            height: 60px;
            font-weight: 600;
            border-radius: 4.6px;
        }
    }
}
@media screen and (max-width:1024px){
    .subscribe-our-sec{
       .columns{
            margin-left: 15px;
            margin-right: 15px;
            padding: 10px 5px;
            margin-bottom: -90px;
       }
    }
}
@media screen and (max-width:770px){
    .subscribe-our-sec{
        margin-top: 50px;
       .columns{
       .inner-subscribe{
           img{
                width: 110px !important;
           }
            .subscribe-details{
                margin-left: 15px;
                h2{
                    font-size: 15px;
                    line-height: 18px;
                }
                h5{
                    font-size: 12px;
                    line-height: 21px;
                }
            }
       }
       #subscribe-form{
        #email{
            font-size: 12px;
            line-height: 15px;
            padding: 10px 122px 10px 16px;
            height: 46px;
        }
        .submit{
            font-size: 15px;
            line-height: 18px;
            padding: 10px 20px;
            height: 46px;
        }
       }
    }
    }
}
@media screen and (min-width:771px) and (max-width:1023px){
    .subscribe-our-sec{
        .columns{
            .inner-subscribe{
                img{
                    width: 150px !important;
                }
                .subscribe-details{
                    margin-left: 20px;
                    h2{
                        font-size: 21px;
                        line-height: 30px;
                    }
                    h5{
                        font-size: 17px;
                        line-height: 25px;
                    }
                }
            }   
        }
        #subscribe-form{
            font-size: 14px;
            .submit{
                padding: 10px 20px;
                font-size: 16px;
            }
        }
    }
}